name: Tailscale High-Speed Bypass
on:
  workflow_dispatch:

jobs:
  vps:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Force Forwarding
        run: |
          sudo sysctl -w net.ipv4.ip_forward=1
          sudo sysctl -w net.ipv6.conf.all.forwarding=1
          sudo sysctl -p

      - name: Tailscale Connect
        uses: tailscale/github-action@v3
        with:
          authkey: ${{ secrets.TAILSCALE_AUTHKEY }}
          # Only use advertise-exit-node here
          args: --advertise-exit-node --ssh

      - name: Network Optimization
        run: |
          sudo ethtool -K eth0 rx-udp-gro-forwarding on rx-gro-list off
          echo "GitHub Runner is now an Exit Node."
          tailscale ip -4
          
      - name: Keep Alive
        run: sleep 21600
