name: Tailscale AuthKey VPS
on: 
  workflow_dispatch:

jobs:
  vps:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Connect to Tailscale
        uses: tailscale/github-action@v3
        with:
          authkey: ${{ secrets.TAILSCALE_AUTHKEY }}

      - name: VPS Active
        run: |
          echo "Connected! Tailscale IP:"
          tailscale ip -4
          # Optimize network for maximum speed
          sudo ethtool -K eth0 rx-udp-gro-forwarding on rx-gro-list off
          sleep 21600 # Keeps it alive for 6 hours
